<i class="material-icons" title="Show previous" (click)="moveLeft()">
  chevron_left
</i>
<i class="material-icons" title="Show today" (click)="moveToToday()">
  today
</i>
<i class="material-icons" title="Show next" (click)="moveRight()">
  chevron_right
</i>

<mat-form-field >
  <mat-select [(value)]="unitOfTime" (selectionChange)="ngOnInit()">
    <mat-option value="day">Day</mat-option>
    <mat-option value="week">Week</mat-option>
    <mat-option value="month">Month</mat-option>
  </mat-select>
</mat-form-field>

<div>
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [chartType]="barChartType">
  </canvas>
</div>
