<h3>
  <span routerLink='/'>My Music Journal</span> ⇾ <span>{{ musicalPiece.title }}, {{ musicalPiece.composer }}</span>
  <i class="material-icons" (click)="onDeleteMusicalPiece()" title="Delete musical piece"
     style="float:right;opacity:0.5">
    delete
  </i>
</h3>

<button mat-raised-button color="primary" (click)="onStarting()" *ngIf="!isStarted()">
  Start ▶
</button>
<button mat-raised-button color="primary" (click)="onStopping()" *ngIf="isStarted()">
  ({{ getLastPractice() | practiceTime }}) Stop ⏹
</button>

<app-practices-chart [musicalPieces]="[musicalPiece]" [days]="10" [showLegend]=false>
</app-practices-chart>

<app-practices-list [musicalPiece]="musicalPiece" (changedList)="ngOnInit()">
</app-practices-list>
