<i class="material-icons" routerLink='/'>home</i>
<h3>{{ musicalPiece.title }}, {{ musicalPiece.composer }}</h3>

<button mat-raised-button color="primary" (click)="onStarting()" *ngIf="!isStarted()">
  Start ▶
</button>
<button mat-raised-button color="primary" (click)="onStopping()" *ngIf="isStarted()">
  Stop ⏹
</button>
<div *ngIf="isStarted()">
  {{ getLastPractice() | practiceTime }}
</div>
<app-practices-chart
   [practices]="getPractices()"
   [musicalPiece]="musicalPiece">
</app-practices-chart>

<table>
  <tr *ngFor="let practice of getPractices()">
    <td>{{ practice.startDate.toLocaleDateString() }}</td>
    <td>{{ practice | practiceTime }}</td>
    <td title="Apagar" (click)="onDeletingPractice(practice.id)">x</td>
  </tr>
</table>

<i class="material-icons" (click)="onDeleteMusicalPiece()" title="Delete musical piece">
  delete
</i>
