<h3>
  <div *ngIf="musicalPieceEdit === null">
    <span routerLink='/'>My Music Journal</span> ⇾ <span>{{ musicalPiece.title }}, {{ musicalPiece.composer }}</span>
    <i class="material-icons" title="Edit title/composer" (click)="onEdit()">
      edit
    </i>
  </div>

  <form (ngSubmit)="onSubmitEditMusicalPiece()" ngNativeValidate *ngIf="musicalPieceEdit !== null">
    <mat-form-field>
      <input matInput placeholder="Title" required pattern=".{3,}"
             [(ngModel)]="musicalPieceEdit.title" name="title">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Composer" required pattern=".{3,}"
             [(ngModel)]="musicalPieceEdit.composer" name="composer">
    </mat-form-field>

    <button type="submit" class="btn btn-success" mat-raised-button color="primary">
      Save ✔
    </button>
  </form>

  <i class="material-icons" (click)="onDeleteMusicalPiece()" title="Delete musical piece"
     style="float:right;opacity:0.5">
    delete
  </i>
</h3>

<app-practices-chart [musicalPieces]="[musicalPiece]" [showLegend]=false [unitOfTime]="'day'">
</app-practices-chart>

<button mat-raised-button color="primary" (click)="onStarting()" *ngIf="!isStarted()">
  Start ▶
</button>
<button mat-raised-button color="primary" (click)="onStopping()" *ngIf="isStarted()">
  ({{ getLastPractice() | practiceTime }}) Stop ⏹
</button>

<div style="margin-top: 32px; max-height: 300px; overflow-y: auto;">
  <app-practices-list [musicalPiece]="musicalPiece" (changedList)="ngOnInit()">
  </app-practices-list>
</div>
