<form (ngSubmit)="onSubmitCreateMusicalPiece()" ngNativeValidate>
  <mat-form-field>
    <input matInput placeholder="Title" required pattern=".{3,}"
           [(ngModel)]="musicalPiece.title" name="title">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Composer" required pattern=".{3,}"
           [(ngModel)]="musicalPiece.composer" name="composer">
  </mat-form-field>

  <button mat-raised-button type="submit" class="capital mat-primary" mat-raised-button color="primary">
    Create
  </button>

  <button mat-raised-button (click)="onCancel()" class="capital mat-warn" mat-raised-button color="primary">
    Cancel
  </button>
</form>
