.icon:hover {
	cursor: pointer;
}

table {
	font-size: 80%;

  td:nth-child(2) {
    font-family: "Courier New", Courier, monospace;
  }
}

[name=date] {
  width: 120px;

  &:focus {
    width: inherit;
  }
}
