<table>
  <tr *ngFor="let practice of practices">
    <td>{{ practice.startDate.toLocaleDateString() }}</td>
    <td>-</td>
    <td>{{ practice | practiceTime }}</td>
    <td>
      <span title="Delete session" class='icon' (click)="onDeletingPractice(practice.id)">✖</span>
    </td>
  </tr>
  <tr>
    <span title="Add session" class='icon' (click)="creatingPractice = !creatingPractice">+</span>
  </tr>
</table>

<form *ngIf="creatingPractice" (ngSubmit)="onSubmitCreatePractice()">
    <input [(ngModel)]='practiceModel.date' type="date"
           placeholder="Date" name='date' />
    <input [(ngModel)]="practiceModel.duration" name='duration'
           placeholder="Duration (minutes)"
           width="20" type="number"
           min="10" max="500" step="10"
           maxlength="4" size="4" />
    <button type="submit" class="btn" color="primary">✔</button>
  </form>
